<footer>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 copy0">
                <div ><a href="Tel:223-534-45878">Tel 223-534-45878</a> </div>
                <div>555 8th Avenue</div>
                <div>15th Floor</div>
                <div>New York</div>
                <a href="https://goo.gl/maps/nQXjkXdydDfDEy4J8" target="_blank">Office in Google Maps</a>
            </div>
            <div class="col-sm-4 copy">
                <a [routerLink]='["/home"]'  > <img src="../../assets/layoutImages/logo.jfif" alt="image" class="bg"></a><br>
                &copy;<span> Band rights</span>
            </div>


            <div class="col-sm-4 copy1">
                <div>Author: Amritha Nair</div>
                <div><a href="mailto:amrithavnair6363@gmail.com">amrithavnair6363@gmail.com</a></div>
            </div>
        </div>
    </div>
</footer>