.bg {
  position: absolute;
    width: 100%;
    max-height: 90vh;
    z-index: -1
  }
  .bg-img {
    min-height: 502px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    top: 5%;
    left:4%;
    position: absolute;
    right: 0;
    margin: 8px;
    max-width: 450px;
    padding: 16px;
    
  }
  .header{
    padding-bottom: 18px;
    font-family: fantasy;
  }
  .content{
    font-size: 1.3rem;
      text-align: justify;
  }

  
 