<div class="bg-img">
    <div class="container">
        <h1 class="header">The Band</h1>
        <P class="content">The mission of the band is to entertain, inform and inspire people around the globe by showcasing them an
            entertainment platform where they can share the moments they capture, get reviews from professionals and
            access to various exclusive pictures and videos posted by our creative minds.Our aim is to provide the best
            media content to our viewers and make ours one among the best.</P>
    </div>
    <img src="../../assets/layoutImages/home.jpg" alt="image" class="bg">

</div>