<div class="about-section">
  <!-- <img class="backgroundimage" src="assets/layoutImages/home.jpg"> -->
  <h1 class="Heading">WELCOME </h1>
  <div> Band is a multidisciplinary creative studio</div>
  <div>Our mission is to increase the public enjoyment and uderstanding through pistorials</div>
</div>
<div class="center">
  <h2 class="Heading">OUR MISSION</h2>
  <P>The mission of The Band is to inform and inspire people around the globe through the
    power of unparalleled demonstaration through photography, creative minds and innovative technologies that
    makes us the best in what you do.</P>
</div>
<div>
  <h2 class="member">OUR MEMBERS</h2>
  <div class="row">
    <div class="col-sm-4 " >
      <img class="face" src="../../assets/layoutImages/face2.jpg">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><a href="mailto:amrithavnair6363@gmail.com">Jane_doe@band.com</a></p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="face" src="../../assets/layoutImages/face1.jfif">
      <div class="container">
        <h2>Alice Parker</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><a href="mailto:amrithavnair6363@gmail.com">alice_parker@band.com</a></p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="face" src="../../assets/layoutImages/face3.jfif">
      <div class="container">
        <h2>Ruth Joe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><a href="mailto:amrithavnair6363@gmail.com">ruth_joe@band.com</a></p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>